body {
  font-family: arial;
  font-size: 16px;
  line-height: 1.2em;
  width: 100%;
  margin: 0;
  background: #2B3856;
  color: white;
}

p {
  line-height: 1em;
}

p.warn {
  color: #FFA62F;
}

p.phrase {
  font-size: 2.0em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

a {
	text-decoration: none;
}

button {
  background-color: #2B3856;
  border: 1px solid white;
  padding: 8px 45px;
  color: white;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  width: 150px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  background-color: #2B3856;
  color: white;
}

input:focus { 
  background-color: #FFA62F;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.input-row{
  float: left;
  margin-top: 6px;
  width: 100%;
}

.content-row {
  display: table;
  width: 100%;
}

.message-row {
  display: table-cell;
  vertical-align: bottom;
}

.loader-row {
  display: table-cell;
  vertical-align: middle;
}

.canvas-row {
  margin: 0 auto;
  width: 95%;
  height: 40px;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.button-row {
  margin-top: 5px;
  width: 100%;
}

.button-menu {
  width: 100%;
}

#div_main {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

  margin: 0 auto;
  max-width: 480px;
  text-align: center;
}

#div_logo {
  width: 100%;
	margin-top: 40px;
}

#img_logo {
  width: 50%;
}

#div_content {
  margin: 20px 0 0 0;
  padding: 45px;
}

#div_message {
  min-height: 80px;
}

#div_input {
  margin-top: 10px;
  clear: both;
}

#div_phrase {
  margin-top: 30px;
}

#div_button {
  margin-top: 20px;
}

#div_progress {
  margin-top: 20px;
}

#div_progress .canvas-row{
  width: 250px;
}

#div_spinner {
  margin: 0 auto;
  border: 5px solid #2B3856;
  border-radius: 50%;
  border-top: 5px solid white;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

#btn_record {
  width: 100%;
  border-radius: 4px;
  height: 36px;
  background-size: 20px 20px;
  background-image:url('../images/mic.png');
  background-repeat:no-repeat;
  background-position: center center;
}

@media screen and (max-width: 400px) {
  #div_main {
    max-width: 280px;
  }

  #div_content {
    padding: 15px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}